{% load static %}
<!DOCTYPE html>
<html leng="en">

<head>
    <title>{% block title %}{% endblock title %}</title>

</head>

<body>
    <header>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>


        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Receipts</a></li>
                <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
                <li><a href="{% url 'category_list' %}">Categories</a></li>
                <li><a href="{% url 'create_category' %}">Create Category</a></li>
                <li><a href="{% url 'account_list' %}">Accounts</a></li>
                <li><a href="{% url 'create_account' %}">Create Account</a></li>
            </ul>
        </nav>
        {% else %}
        <a href="{% url 'signup' %}">Signup</a>
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </header>

    {% block content %}{% endblock content %}

</body>

</html>
