{% extends 'base.html' %}
{% block title %}Categories{% endblock title %}

{% block content %}
<main>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td>{{ category }}</td>
                    <td>{{ category.receipts.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</main>


{% endblock content %}
