{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}
<main>
    <h1>My Receipts</h1>
    <table>
        <thead>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
        </thead>
        <tbody>
            {% for object in receipt_object %}
            <tr>
                <td>{{ object.vendor }}</td>
                <td>{{ object.total }}</td>
                <td>{{ object.tax }}</td>
                <td>{{ object.date|date:"m/d/y" }}</td>
                <td>{{ object.category }}</td>
                <td>{{ object.account.name }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>


{% endblock content %}
